## # Introduction
<p><img src="https://assets.datacamp.com/production/project_981/img/lego_unsplash.jpg" alt="A picture of Lego characters!"></p>
<h3 id="letslookatlegosets">Let's look at Lego sets!</h3>
<p>Lego is a household name across the world, supported by a diverse toy line, hit movies, and a series of successful video games. In this project, we are going to explore a key development in the history of Lego: the introduction of licensed sets such as Star Wars, Super Heroes, and Harry Potter.</p>
<p>It may not be widely known, but Lego has had its share of ups and downs since its inception in the early 20th century. This includes a particularly rough period in the late 90s. As described in <a href="https://www.businessinsider.com/how-lego-made-a-huge-turnaround-2014-2?r=US&IR=T">this article</a>, Lego was only able to survive due to a successful internal brand (Bionicle) and the introduction of its first licensed series: Star Wars. In the instructions panel are the two questions you will need to answer to complete this project.</p>
<p>Before diving into our analysis though, let's become familiar with the two datasets that will help you with this project:<br><br></p>
<div style="background-color: #ebf4f7; color: #595959; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6;">
    <div style="font-size:20px"><b>datasets/lego_sets.csv</b></div>
<ul>
    <li><b>set_num:</b> A code that is unique to each set in the dataset. <b><i>This column is critical, and a missing value indicates the set is a duplicate or invalid!</i></b></li>
    <li><b>set_name:</b> A name for every set in the dataset (note that this can be the same for different sets).</li>
    <li><b>year:</b> The date the set was released.</li>
    <li><b>num_parts:</b> The number of parts contained in the set.<b><i> This column is not central to our analyses, so missing values are acceptable.</i></b></li>
        <li><b>theme_name:</b> The name of the sub-theme of the set.</li>
    <li><b>parent_theme:</b> The name of the parent theme the set belongs to. Matches the `name` column of the `parent_themes` csv file.</li>
</ul>

<div style="font-size:20px"><b>datasets/parent_themes.csv</b></div>
<ul>
    <li><b>id:</b> A code that is unique to every theme.</li>
    <li><b>name:</b> The name of the parent theme.</li>
    <li><b>is_licensed:</b> A Boolean column specifying whether the theme is a licensed theme.</li>
</ul>
    </div>
<p>From here on out, it will be your task to explore and manipulate the existing data until you are able to answer the two questions described in the instructions panel. Feel free to add as many cells as necessary. Finally, remember that you are only tested on your answer, not on the methods you use to arrive at the answer!</p>
<p><em><strong>Note:</strong> If you haven't completed a DataCamp project before you should check out the <a href="https://projects.datacamp.com/projects/33">Intro to Projects</a> first to learn about the interface. In this project, you also need to know your way around <code>pandas</code> DataFrames and it's recommended that you take a look at the course <a href="https://www.datacamp.com/courses/data-manipulation-with-pandas">Data Manipulation with pandas</a>.</em></p>

# Solving real-world data analysis problems with Python Pandas! (Lego dataset analysis)

https://www.youtube.com/watch?v=BzQDi4D0B_M&t=530s

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('datasets/lego_sets.csv')
df.head()

,set_num,name,year,num_parts,theme_name,parent_theme
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space

In [3]:
theme = pd.read_csv('datasets/parent_themes.csv')
theme.head()

    id     name  is_licensed
0    1  Technic        False
1   22  Creator        False
2   50     Town        False
3  112   Racers        False
4  126    Space        False

## 1. What percentage of all licensed sets ever released were Star Wars themed? 
Save your answer as a variable `the_force` in the form of on integer (e. g. 25).

In [4]:
merged = df.merge(theme, left_on='parent_theme', right_on='name')
merged.head()

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,name_y,is_licensed
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland,411,Legoland,False
1,00-2,Weetabix Promotional House 1,1976,NaN,Building,Legoland,411,Legoland,False
2,00-3,Weetabix Promotional House 2,1976,NaN,Building,Legoland,411,Legoland,False
3,00-4,Weetabix Promotional Windmill,1976,126.0,Building,Legoland,411,Legoland,False
4,00-7,Weetabix Promotional Lego Village,1976,NaN,Building,Legoland,411,Legoland,False

In [6]:
merged.drop(columns='name_y', inplace=True)
merged.head()

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland,411,False
1,00-2,Weetabix Promotional House 1,1976,NaN,Building,Legoland,411,False
2,00-3,Weetabix Promotional House 2,1976,NaN,Building,Legoland,411,False
3,00-4,Weetabix Promotional Windmill,1976,126.0,Building,Legoland,411,False
4,00-7,Weetabix Promotional Lego Village,1976,NaN,Building,Legoland,411,False

In [7]:
merged[merged['set_num'].isnull()]

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
5827,NaN,NaN,2017,304.0,NaN,Super Heroes,482,True
5828,NaN,NaN,2017,196.0,NaN,Super Heroes,482,True
5829,NaN,NaN,2014,NaN,NaN,Super Heroes,482,True
5830,NaN,NaN,2013,16.0,NaN,Super Heroes,482,True
5831,NaN,NaN,2013,NaN,NaN,Super Heroes,482,True
...,...,...,...,...,...,...,...,...
10274,NaN,NaN,2015,518.0,NaN,Minecraft,577,True
10275,NaN,NaN,2016,NaN,NaN,Minecraft,577,True
10276,NaN,NaN,2017,502.0,NaN,Minecraft,577,True
10277,NaN,NaN,2014,NaN,NaN,Minecraft,577,True
10278,NaN,NaN,2017,NaN,NaN,Minecraft,577,True

In [9]:
merged[merged['set_num'].isnull()].shape

(153, 8)

In [10]:
licensed = merged[merged['is_licensed']]
licensed = licensed.dropna(subset=['set_num'])
licensed.head()

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
3493,10018-1,Darth Maul,2001,1868.0,Star Wars,Star Wars,158,True
3494,10019-1,Rebel Blockade Runner - UCS,2001,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3495,10026-1,Naboo Starfighter - UCS,2002,NaN,Star Wars Episode 1,Star Wars,158,True
3496,10030-1,Imperial Star Destroyer - UCS,2002,3115.0,Star Wars Episode 4/5/6,Star Wars,158,True
3497,10123-1,Cloud City,2003,707.0,Star Wars Episode 4/5/6,Star Wars,158,True

In [11]:
star_wars = licensed[licensed['parent_theme'] == 'Star Wars']
star_wars.head(50)

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
3493,10018-1,Darth Maul,2001,1868.0,Star Wars,Star Wars,158,True
3494,10019-1,Rebel Blockade Runner - UCS,2001,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3495,10026-1,Naboo Starfighter - UCS,2002,NaN,Star Wars Episode 1,Star Wars,158,True
3496,10030-1,Imperial Star Destroyer - UCS,2002,3115.0,Star Wars Episode 4/5/6,Star Wars,158,True
3497,10123-1,Cloud City,2003,707.0,Star Wars Episode 4/5/6,Star Wars,158,True
...,...,...,...,...,...,...,...,...
3538,30055-1,Vulture Droid - Mini,2011,42.0,Star Wars Episode 3,Star Wars,158,True
3539,30056-1,Star Destroyer,2012,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3540,30057-1,Anakin's Pod Racer,2012,NaN,Star Wars Episode 1,Star Wars,158,True
3541,30058-1,STAP,2012,19.0,Star Wars,Star Wars,158,True
3542,30059-1,MTT,2012,51.0,Star Wars,Star Wars,158,True

In [12]:
star_wars.shape[0]

609

In [13]:
the_force = int(star_wars.shape[0] / licensed.shape[0] * 100)
print(the_force)

51

## 2. In which year was Star Wars not the most popular licensed theme (in terms of number of sets released that year)?

Save you answer as a variable `new_era` in the form of an integer (e. g. 2012).

In [14]:
licensed.head()

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
3493,10018-1,Darth Maul,2001,1868.0,Star Wars,Star Wars,158,True
3494,10019-1,Rebel Blockade Runner - UCS,2001,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3495,10026-1,Naboo Starfighter - UCS,2002,NaN,Star Wars Episode 1,Star Wars,158,True
3496,10030-1,Imperial Star Destroyer - UCS,2002,3115.0,Star Wars Episode 4/5/6,Star Wars,158,True
3497,10123-1,Cloud City,2003,707.0,Star Wars Episode 4/5/6,Star Wars,158,True

In [15]:
licensed_sorted = licensed.sort_values('year')
licensed_sorted.head()

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
3702,7161-1,Gungan Sub,1999,379.0,Star Wars Episode 1,Star Wars,158,True
3705,7171-1,Mos Espa Podrace,1999,NaN,Star Wars Episode 1,Star Wars,158,True
3690,7140-1,X-wing Fighter,1999,271.0,Star Wars Episode 4/5/6,Star Wars,158,True
3685,7130-1,Snowspeeder,1999,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3684,7128-1,Speeder Bikes,1999,93.0,Star Wars Episode 4/5/6,Star Wars,158,True

In [16]:
licensed_sorted['count'] = 1

summed_df = licensed_sorted.groupby(['year', 'parent_theme']).sum().reset_index()
summed_df.head()

   year           parent_theme  num_parts    id  is_licensed  count
0  1999              Star Wars     1384.0  2054           13     13
1  2000  Disney's Mickey Mouse      405.0  1940            5      5
2  2000              Star Wars     2580.0  4108           26     26
3  2001           Harry Potter     1284.0  2706           11     11
4  2001              Star Wars     2949.0  2212           14     14

In [17]:
summed_df.sort_values('count', ascending=False).drop_duplicates(['year'])

    year  parent_theme  num_parts     id  is_licensed  count
82  2017  Super Heroes    13123.0  34704           72     72
76  2016     Star Wars     6934.0   9638           61     61
67  2015     Star Wars    11410.0   9164           58     58
59  2014     Star Wars     8293.0   7110           45     45
47  2012     Star Wars     6769.0   6794           43     43
32  2009     Star Wars     3953.0   6162           39     39
52  2013     Star Wars     6159.0   5530           35     35
9   2003     Star Wars     6660.0   5056           32     32
42  2011     Star Wars     3451.0   5056           32     32
36  2010     Star Wars     6003.0   4740           30     30
16  2005     Star Wars     4730.0   4424           28     28
6   2002     Star Wars     4735.0   4424           28     28
2   2000     Star Wars     2580.0   4108           26     26
28  2008     Star Wars     6865.0   3634           23     23
12  2004     Star Wars     1659.0   3160           20     20
24  2007     Star Wars    11361.0   2528           16     16
4   2001     Star Wars     2949.0   2212           14     14
0   1999     Star Wars     1384.0   2054           13     13
20  2006     Star Wars     2769.0   1738           11     11

In [18]:
max_df = summed_df.sort_values('count', ascending=False).drop_duplicates(['year'])
max_df.sort_values('year', inplace=True)
max_df

    year  parent_theme  num_parts     id  is_licensed  count
0   1999     Star Wars     1384.0   2054           13     13
2   2000     Star Wars     2580.0   4108           26     26
4   2001     Star Wars     2949.0   2212           14     14
6   2002     Star Wars     4735.0   4424           28     28
9   2003     Star Wars     6660.0   5056           32     32
12  2004     Star Wars     1659.0   3160           20     20
16  2005     Star Wars     4730.0   4424           28     28
20  2006     Star Wars     2769.0   1738           11     11
24  2007     Star Wars    11361.0   2528           16     16
28  2008     Star Wars     6865.0   3634           23     23
32  2009     Star Wars     3953.0   6162           39     39
36  2010     Star Wars     6003.0   4740           30     30
42  2011     Star Wars     3451.0   5056           32     32
47  2012     Star Wars     6769.0   6794           43     43
52  2013     Star Wars     6159.0   5530           35     35
59  2014     Star Wars     8293.0   7110           45     45
67  2015     Star Wars    11410.0   9164           58     58
76  2016     Star Wars     6934.0   9638           61     61
82  2017  Super Heroes    13123.0  34704           72     72

In [19]:
new_area = 2017

## Break down number of sets by year

In [20]:
clean_df = merged[~merged['set_num'].isnull()]
clean_df.head()

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland,411,False
1,00-2,Weetabix Promotional House 1,1976,NaN,Building,Legoland,411,False
2,00-3,Weetabix Promotional House 2,1976,NaN,Building,Legoland,411,False
3,00-4,Weetabix Promotional Windmill,1976,126.0,Building,Legoland,411,False
4,00-7,Weetabix Promotional Lego Village,1976,NaN,Building,Legoland,411,False

In [21]:
clean_df['count'] = 1
sets_per_year = clean_df.groupby(['year']).sum().reset_index()[['year', 'count']]
sets_per_year.head(50)

C:\Users\ASUS\AppData\Local\Temp/ipykernel_12144/3039878745.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df['count'] = 1

    year  count
0   1950      7
1   1953      4
2   1954     14
3   1955     28
4   1956     12
5   1957     21
6   1958     42
7   1959      4
8   1960      3
9   1961     17
10  1962     40
11  1963     18
12  1964     11
13  1965     10
14  1966     89
15  1967     21
16  1968     25
17  1969     69
18  1970     29
19  1971     45
20  1972     38
21  1973     68
22  1974     39
23  1975     31
24  1976     68
25  1977     92
26  1978     73
27  1979     82
28  1980     88
29  1981     79
30  1982     76
31  1983     57
32  1984     76
33  1985    139
34  1986    123
35  1987    209
36  1988     68
37  1989    114
38  1990     85
39  1991    106
40  1992    115
41  1993    111
42  1994    128
43  1995    128
44  1996    144
45  1997    194
46  1998    325
47  1999    300
48  2000    327
49  2001    339

In [22]:
for index, row in sets_per_year.iterrows():
    print(row['year'], row['count'])

1950 7
1953 4
1954 14
1955 28
1956 12
1957 21
1958 42
1959 4
1960 3
1961 17
1962 40
1963 18
1964 11
1965 10
1966 89
1967 21
1968 25
1969 69
1970 29
1971 45
1972 38
1973 68
1974 39
1975 31
1976 68
1977 92
1978 73
1979 82
1980 88
1981 79
1982 76
1983 57
1984 76
1985 139
1986 123
1987 209
1988 68
1989 114
1990 85
1991 106
1992 115
1993 111
1994 128
1995 128
1996 144
1997 194
1998 325
1999 300
2000 327
2001 339
2002 447
2003 415
2004 371
2005 330
2006 283
2007 319
2008 349
2009 403
2010 444
2011 502
2012 615
2013 593
2014 715
2015 670
2016 608
2017 438