In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./datasets/salaries.csv")
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [3]:
inputs = df.drop('salary_more_then_100k', axis='columns')
target = df['salary_more_then_100k']

In [4]:
inputs

       company                  job     degree
0       google      sales executive  bachelors
1       google      sales executive    masters
2       google     business manager  bachelors
3       google     business manager    masters
4       google  computer programmer  bachelors
5       google  computer programmer    masters
6   abc pharma      sales executive    masters
7   abc pharma  computer programmer  bachelors
8   abc pharma     business manager  bachelors
9   abc pharma     business manager    masters
10    facebook      sales executive  bachelors
11    facebook      sales executive    masters
12    facebook     business manager  bachelors
13    facebook     business manager    masters
14    facebook  computer programmer  bachelors
15    facebook  computer programmer    masters

In [5]:
target

0     0
1     0
2     1
3     1
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    1
12    1
13    1
14    1
15    1
Name: salary_more_then_100k, dtype: int64

In [6]:
from sklearn.preprocessing import LabelEncoder

In [9]:
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [10]:
inputs['company_n'] = le_company.fit_transform(inputs['company'])
inputs['job_n'] = le_job.fit_transform(inputs['job'])
inputs['degree_n'] = le_degree.fit_transform(inputs['degree'])
inputs.head()

  company                  job     degree  company_n  job_n  degree_n
0  google      sales executive  bachelors          2      2         0
1  google      sales executive    masters          2      2         1
2  google     business manager  bachelors          2      0         0
3  google     business manager    masters          2      0         1
4  google  computer programmer  bachelors          2      1         0

In [11]:
inputs_n = inputs.drop(['company', 'job', 'degree'], axis='columns')
inputs_n

    company_n  job_n  degree_n
0           2      2         0
1           2      2         1
2           2      0         0
3           2      0         1
4           2      1         0
5           2      1         1
6           0      2         1
7           0      1         0
8           0      0         0
9           0      0         1
10          1      2         0
11          1      2         1
12          1      0         0
13          1      0         1
14          1      1         0
15          1      1         1

In [12]:
from sklearn import tree

In [13]:
model = tree.DecisionTreeClassifier()

In [14]:
model.fit(inputs_n, target)

DecisionTreeClassifier()

In [15]:
model.score(inputs_n, target)

1.0

In [18]:
model.predict([[2, 0, 1]])

C:\Users\ASUS\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1], dtype=int64)

## Exercise: 
Build decision tree model to predict survival based on certain parameters

CSV file is available to download at https://github.com/codebasics/py/blob/master/ML/9_decision_tree/Exercise/titanic.csv

In this file using following columns build a model to predict if person would survive or not,
1. Pclass
2. Sex
3. Age
4. Fare

Calculate score of your model

In [31]:
import pandas as pd

In [32]:
df = pd.read_csv("./datasets/titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [33]:
df = df[['Pclass', 'Sex', 'Age', 'Fare', 'Survived']]
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [34]:
inputs = df.drop('Survived', axis='columns')
target = df['Survived']

In [35]:
inputs['Sex'] = inputs['Sex'].map({'male': 1, 'female': 2})
inputs.head(10)

   Pclass  Sex   Age     Fare
0       3    1  22.0   7.2500
1       1    2  38.0  71.2833
2       3    2  26.0   7.9250
3       1    2  35.0  53.1000
4       3    1  35.0   8.0500
5       3    1   NaN   8.4583
6       1    1  54.0  51.8625
7       3    1   2.0  21.0750
8       3    2  27.0  11.1333
9       2    2  14.0  30.0708

In [36]:
inputs['Age'].isna().sum()

177

In [37]:
inputs['Age'] = inputs['Age'].fillna(inputs['Age'].mean())
inputs.head(10)

   Pclass  Sex        Age     Fare
0       3    1  22.000000   7.2500
1       1    2  38.000000  71.2833
2       3    2  26.000000   7.9250
3       1    2  35.000000  53.1000
4       3    1  35.000000   8.0500
5       3    1  29.699118   8.4583
6       1    1  54.000000  51.8625
7       3    1   2.000000  21.0750
8       3    2  27.000000  11.1333
9       2    2  14.000000  30.0708

In [38]:
from sklearn.model_selection import train_test_split

In [39]:
X_train, X_test, y_train, y_test = train_test_split(inputs, target, test_size=0.3)

In [40]:
len(X_train)

623

In [41]:
len(X_test)

268

In [42]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()

In [43]:
model.fit(X_train, y_train)

DecisionTreeClassifier()

In [44]:
model.score(X_test, y_test)

0.7761194029850746